* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

header {http://localhost:63342/landingPage/img/dziewczyna.jpg
    hight: 100vh;
    background-color: #b5b8bf;

}
img{

}